{{ template "header.html" .}}

<div class="lk">
    <div class="col1">
        <div class="avatar">No</div>
        <h2>{{.User.Login}} <span class="role">{{.User.Role1}}</span>
            <span class="role">{{.User.Role2}}</span></h2>
        <p class="skill">Skill {{.User.Skill}}/10</p>
        <div class="block-label-input">
            <label for="secret1">Логин</label>
            <input class="secret" id="secret1" type="password" value="{{.User.Login}}" disabled>
        </div>
        <div class="block-label-input">
            <label for="secret2">Пароль</label>
            <input class="secret" id="secret2" type="password" value="{{.User.Password}}" disabled>
        </div>
        <button class="secret-but" onclick="click_secret()">Показать мои данные</button>
        <a class="secret-but" href="/test">Пройти тест</a>
    </div>
    <div class="col2">
        <div class="course">
            <h2 class="title">Избранные курсы</h2>
            {{range .User.Favorites}}
                <div class="block">
                    <p>{{.Name}}</p>
                    <div class="two-block">
                        <a class="but" href="/courses/{{.Href}}">Открыть</a>
                        <form method="post">
                            <input type="hidden" name="id" value="{{.Href}}">
                            <button class="but">Удалить</button>
                        </form>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
</div>

<script>
    document.querySelector(".avatar").innerHTML = "{{.Avatar}}"
    let yupy = document.querySelectorAll(".secret")

    console.log(yupy);
    function click_secret() {
        if (yupy[0].type == "text") {
            yupy.forEach(function(item, i, yupy) {
                item.type = "password"
            });
        } else {
            yupy.forEach(function(item, i, yupy) {
                item.type = "text"
            });
        }
    }
</script>

{{ template "footer.html" .}}

